<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Byakko – Status</title>
    <meta name="description" content="Check the current health and availability of all Byakko services." />
    <meta name="keywords" content="status, health, uptime, services" />
    <meta name="author" content="MadWorldEU" />
    <meta property="og:title" content="Byakko – Status" />
    <meta property="og:description" content="Check the current health and availability of all Byakko services." />
    <meta property="og:type" content="website" />
    <base href="/"/>
    <ResourcePreloader/>
    <link rel="stylesheet" href="@Assets["app.css"]"/>
    <link rel="stylesheet" href="@Assets["Status.styles.css"]"/>
    <link rel="stylesheet" href="@Assets["lib/bootstrap/css/bootstrap.min.css"]"/>
    <ImportMap/>
    <HeadOutlet/>
</head>

<body>
<Routes/>
<ReconnectModal/>
<script src="@Assets["lib/bootstrap/js/bootstrap.bundle.min.js"]"></script>
<script src="@Assets["_framework/blazor.web.js"]"></script>
</body>

</html>