@inject NavigationManager Navigation

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(IAdminMarker).Assembly" AdditionalAssemblies="[typeof(IBlazorSharedMarker).Assembly]" NotFoundPage="typeof(Pages.NotFound)">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @if (context.User.Identity?.IsAuthenticated == true)                                                            
                    {
                        <p>You do not have the required role to view this page: @string.Join(", ", context.User.Claims.Select(c => c.Type + ": " + c.Value))</p>
                    }
                    else
                    {
                        Navigation.NavigateTo("/");
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
        </Found>
    </Router>
</CascadingAuthenticationState>